{% extends "base.html" %}

{% block header %}
<script src="{{ url_for('static', filename='js/jsoneditor.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='style/jsoneditor.min.css') }}">
{% endblock %}

<!-- body content -->
{% block content %}
    <center class="title">{{ url_info["state"] }} mock 数据</center>

    <!-- 设置接口名称 -->
    <el-row type="flex" justify="start" style="margin-top: 15px;">
    <el-col :span="5"></el-col>

    <el-col :span="12">
        <el-input placeholder="输入接口名称" v-model="name">
            <template slot="prepend">接口名称</template>
        </el-input>
    </el-col>

    <el-col v-if="name && url && selectMethod" :span="3" :offset='1'>
        <el-button style="margin-left: 30px;" type="warning" round @click="handleAddRequest">{{ url_info["state"] }}接口</el-button>
    </el-col>

    </el-row>

    <!-- 设置接口名称 -->
    <el-row type="flex" justify="start" style="margin-top: 15px;">
    <el-col :span="5"></el-col>
    <el-col :span="12">
        <el-input placeholder="路径" v-model="url">
            <el-select slot="prepend" v-model="selectTitle" placeholder="请选择分类" @change="selectSection">
                <el-tooltip v-for="item in sections" :key="item.value" effect="dark" :content='item.baseUrl' placement="top-start" :open-delay=600>
                    <el-option :label="item.name" :value="item.baseUrl"></el-option>
                </el-tooltip>
            </el-select>
        </el-input>
    </el-col>

    <el-col :span="5" :offset='1'>
        <el-select v-model="selectMethod" placeholder="选择方法" @change="methodChanged">
            <el-option v-for="method in methods" :key="method" :label="method" :value="method"></el-option>
        </el-select>
    </el-col>
    </el-row>

    <!-- 设置接口参数 -->
    <el-row type="flex" justify="start" style="margin-top: 15px;">
    <el-col :span="5"></el-col>
    <el-col :span="4">
        <el-input placeholder="参数名（可选）" v-model="paramName">
            <el-select slot="prepend" v-model="selectParamType" placeholder="参数类型(可选)">
                <el-option v-for="type in paramTypes" :key="type.value" :label="type" :value="type"></el-option>
            </el-select>
        </el-input>
    </el-col>

    <el-col :span="12" style="margin-left: 20px;">
        <el-tag :key="tag" v-for="tag in paramValues" closable :disable-transitions="false" @close="handleClose(tag)">{{tag}}</el-tag>
        <el-input style="width: 115px;margin-left: 10px;vertical-align: bottom;margin-top: 5px;" 
        placeholder="参数值" v-if="inputVisible" v-model="inputValue" ref="saveTagInput" size="small"
            @keyup.enter.native="handleInputConfirm"
            @blur="handleInputConfirm">
        </el-input>
        <el-button v-else v-show="paramName" style="margin-top: 5px;" class="button-new-tag" size="small" @click="showInput">+</el-button>
    </el-col>
    </el-row>

    <el-divider></el-divider>

    <el-row type="flex" justify="center" style="margin-top: 15px;">
    <el-col :span="18">
        <el-tabs v-if="paramValues.length>0" v-model="selectParamValue" type="card">
            <el-tab-pane v-for="(item, index) in paramValues" :key="item" :label="item" :name="item">
                <!-- <el-input type="textarea" rows=27 placeholder="请输入接口待返回的json字符串" v-model="paramJson[index]"></el-input> -->
                <div :id="'jsoneditor'+index" style="height: 550px;"></div>

            </el-tab-pane>
        </el-tabs>
        <div id="jsoneditor" v-else style="height: 550px;"></div>

        <!-- <el-input v-else type="textarea" rows=27 placeholder="请输入接口待返回的json字符串" v-model="content"></el-input> -->
    </el-col>

    </el-row>

    <el-backtop></el-backtop>


{% endblock %}

<!-- script -->
{% block script %}
<script>
    result = {{ url_info | tojson }};
    $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};

    var app = new Vue({
        el: '#app',
        data() {
            return {
                isNew: result["isNew"],
                url: result["urlInfo"]["url"],
                name: result["urlInfo"]["name"],
                content: result["urlInfo"]["content"],
                methods: result["methods"],
                selectMethod: result["urlInfo"]["method"],
                sections: result["sections"],
                selectTitle: result["selectTitle"],
                paramName: result["urlInfo"]["param"],
                paramValues: result["urlInfo"]["param_values"] || [],
                paramJson: result["urlInfo"]["param_jsons"] || [],
                selectParamValue: result["urlInfo"]["selectParamValue"],
                paramTypes: result["paramTypes"],
                selectParamType: result["urlInfo"]["paramType"] || "",
                inputVisible: false,
                inputValue: ''
            };
        },
        mounted: function(){
            if (this.selectMethod == "GET") {
                this.paramTypes = ["Params"];
            } else {
                this.paramTypes = ["Params", "Body: form data", "Body: x-www-form-urlencode"]
            }
        },
        methods: {
            selectSection(value) {                
                app.url = value;
            },
            methodChanged(value) {
                if (value == "GET") {
                    app.paramTypes = ["Params"];
                    if (app.selectParamType != "GET") {
                        app.selectParamType = "";
                    }
                } else {
                    app.paramTypes = ["Params", "Body: form data", "Body: x-www-form-urlencode", "Body: raw"]
                }
            },
            handleAddRequest() {
                var paramJsons = [];
                if (result["urlInfo"]["param_values"]) {
                    for (i=0;i<editors.length;i++) {
                        paramJsons.push(JSON.stringify(editors[i].get()));
                    }
                }

                let param = { 
                    "urlId": result["urlInfo"]["id"],
                    "url": app.url, 
                    "name": app.name,
                    "content": JSON.stringify(editor.get()), 
                    "method":app.selectMethod,
                    "paramName": app.paramName,
                    "paramValues": app.paramValues,
                    "paramJson": paramJsons,
                    "paramType": app.selectParamType,
                    "isNew": result["isNew"],
                    "groupName": app.selectTitle
                }     

                axios.post($SCRIPT_ROOT + '/addRequest', param).then(function (response) {
                    if (response.data['code'] != 1) {
                        ELEMENT.Message({showClose: true, message: response.data['msg'], type: "error"});
                    } else {
                        ELEMENT.Message({showClose: true, message: '处理成功', type: "success"});
                    }
                });
            },
            handleClose(tag) {                
                app.paramValues.splice(app.paramValues.indexOf(tag), 1);
                if (app.paramValues.length > 0) {
                    app.selectParamValue = app.paramValues[0];                    
                }
            },
            showInput() {
                app.inputVisible = true;
                app.$nextTick(_ => {
                    app.$refs.saveTagInput.$refs.input.focus();
                });
            },
            handleInputConfirm() {
                let inputValue = app.inputValue;                
                if (inputValue) {
                    app.paramValues.push(inputValue);
                    app.paramJson.push("");
                    app.selectParamValue = inputValue;
                }
                app.inputVisible = false;
                app.inputValue = '';
            }
        }
    })

    const options = {
        mode: 'code',
        language: "zh-CN",
        onError: function (err) {
            alert(err.toString())
        },
        onModeChange: function (newMode, oldMode) {
            console.log('Mode switched from', oldMode, 'to', newMode)
        }
    }

    if(result["urlInfo"]["param_values"]) {
        var editors = new Array();
        for(var i =0;i<result["urlInfo"]["param_values"].length;i++) {
            var container = document.getElementById("jsoneditor"+i);
            var jsonData = JSON.parse(result["urlInfo"]["param_jsons"][i])
            var editor = new JSONEditor(container, options, jsonData);
            editors.push(editor);
        }
    } else {
        var container = document.getElementById("jsoneditor");
        var jsonData = JSON.parse(result["urlInfo"]["content"])
        var editor = new JSONEditor(container, options, jsonData);
    }


</script>

{% endblock %}