<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/faker.png') }}">
  <title>{{ title }}</title>

  <!-- 本地引入 js/css 文件，提高加载速度 -->
  <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
  <script src="{{ url_for('static', filename='js/el-index.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='style/el-index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='style/home.css') }}">

  {% block header %}{% endblock %}

</head>

<body>
    <div id="app" v-cloak>
        {% block content %}{% endblock %}
    </div>

</body>

{% block script %}{% endblock %}

</html>